.container {
    max-width: 920px;
    margin: 3% auto;
    background-color: #477b2e;
    border-radius: 15px;
}
h1 {
    padding-top: 2%;
    color: #60B847;
    text-align: center;
}
/* .error-message {
    color: red;
} */
.form {
    color: white;
}
.para1 {
    padding-top: 2%;
    color: white;
    margin-left: 2%;
}
.para2 {
    color: white;
    margin-left: 2%;
}
.form-section {
    margin-bottom: 2%;
}
.form-section h2 {
    color: white;
    margin-left: 2%;
}
.Form-Section-Infor {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 5%;
    align-items: center;
}
label {
    text-align: left;
}
input {
    width: 80%;
    height: 22px;
    max-width: 15vw;
    border-radius: 5px;
    background-color: #c0d4b7;
}
textarea {
    width: 180%;
    height: 50px;
    border-radius: 5px;
    background-color: #c0d4b7;
}
select {
    width: 50%;
    max-width: 8vw;
    height: 22px;
    border-radius: 5px;
    background-color: #c0d4b7;
}
#submit-button {
    height: 5vh;
    margin-left: 75%;
    margin-bottom: 2%;
    border-radius: 8px;
    background-color: #c0d4b7;
}
