@font-face {
  font-family: "Montserrat";
  src:url(/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Old Standard TT";
  src:url(/font/Old_Standard_TT/OldStandardTT-Regular.ttf);
}