.no-list {
    list-style: none;
}

/* SuMenh */
.SuMenh {
    margin: 0 100px;
    height: 500px;
}
.SuMenh-box1 h6 {
    
    color: #7B7777;
    font-size:20px;
    font-style: italic;
    font-weight:400;
}

.SuMenh-title{
    color: #60B847;
    font-size: 60px;
}
.SuMenh-box1{
    color: #60B847;
}
.SuMenh-box1 span{
    color: #60B847;
    font-style:italic;
    text-decoration: underline;
}
.SuMenh-box2{
    /* display: flex;
    border-style: solid;
    border-radius: 20px;
    flex-flow: column nowrap; */
    display: block;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    border-color: #60B847;
    overflow: hidden;
}
.SuMenh-box2-title{
    /* align-self: ; */
    font-style: italic;
    font-size: 20px;
    padding: 30px 20px;
    text-align: center;
    color: white;
    background-color: #60B847;
    text-wrap: wrap;
    
}
.SuMenh-box2 h6{
    color: white;
    font-size: 20px;
}

/* MucTieu */
.MucTieu {

}
/* QuyTac */
.QuyTac{

}
/* LienKet */
.LienKet {
    margin: 0 100px;
    font-family: "Montserrat", sans-serif;
}
.LienKet-title {
    line-height: 40px;
    font-size: 60px;
    color: #60B847;
    
}
.LienKet-box {
    display: block;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    border-color: #60B847;
    overflow: hidden;
}
.lienKet-box-title {
    font-style: italic;
    font-size: 20px;
    padding: 30px 20px;
    text-align: center;
    color: white;
    background-color: #60B847;
    text-wrap: wrap;
}
.LienKet-box-content {
    display: flex;
    margin: 10px;
    /* text-align: center; */
    align-items: center;
    width: 100%;
}
.LienKet-box-content-right {
    width: 50%;
}
.LienKet-box-content-left {
    width: 50%;
}
.LienKet-content {
    font-size: 20px;
    color: #7B7777;
    line-height: 1.8;
}
/* DanhSach */
.DanhSach {
    margin: 30px 0;
    margin-left: 100px;
    display: flex;
}
.DanhSach-box {
    display: block;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    border-color: #60B847;
    width: 50%;
    margin-right: 100px;
    overflow: hidden;
}
.DanhSach-box-title {
    text-align: center;
    color: white;
    background-color: #60B847;
    text-wrap: wrap;
    padding: 30px 20px;
    text-align: center;
    margin-top: 0;
}
.DanhSach-box-content {
    
}
.DanhSach-content {
    font-size: 20px;
    color: #7B7777;
    line-height: 1.4;
}
.DanhSach-end {
    font-style: italic;
    width: 50%;
    margin-right: 100px;
    line-height: 3;
}
.DanhSach-end-paragraph {
    line-height: 1.4;
}
.DanhSach-title1 {

}
.DanhSach-title2 {

}