body {
    margin: 0;
    font-family:"Montserrat", 'Times New Roman';
    font-size: 90%;
    background-image: url(/img/star.png);
    background-repeat: repeat-y;
    background-position: right;
}
header {
    background-color: #60B847;
    height: 80px;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 10% 64% 26%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 1;
}
.menu-button {
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    line-height: 80px;
    margin: auto;
    flex-basis: 70%;
}
.menu-button-content-text {
    color: white;
    display: block;
    font-size: 1.3vw;
    font-weight: 520;
    text-align: center;
    padding: 0 30px;
    text-decoration: none;
}
.menu-button-content-text:hover {
    background-color: #448332;
    color: lavenderblush;
    cursor: pointer;
}
.logo {
}
.logo-img {
    width: 65%;
    height: auto;
    margin: 0 15%;
}
.search {
    align-items: center;
}
.search-bar{
    height: 50px;
}
.search-button {
    display: block;
    width: 70%;
    height: 35px;
    background: white;
    border-radius: 22.5px;
    margin: auto;
    position: relative;
}
.search-icon {
    font-size: 28px;
    color: #60B847;
    margin-top: 1.75%;  
    margin-left: 83%;
    position: absolute;
}
/* footer */
footer {
    background-color: #60B847;
    margin: 0;
    padding: 1.8vw 0;
    display: flex;
    flex-flow: row nowrap ;
}
.left {
    margin-left: 50px;
    display: flex;
    flex-flow:column nowrap;
    flex: 1 100%;
    max-width: 40%;
}
.left-content-text {
    font-size: 1.2vw;
    color: white;
    margin: 16px 0px;
    
}
.left-icon-button {
    color: #448332;
    font-size: 30px;
    padding-right: 24px;
}
.right {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: 2 100%;
    align-self: center;
}
.right1 {
    list-style: none;
    align-items:inherit;
    justify-content:right;
    position:relative;
    right: 0px;
    padding-left: 3.6vw;
}
.right-list-content-icon {
    font-size: 33px;
    color: #448332;
    width: 3vw;
    height: auto;
    padding: 1vw 0px;
    margin: 0px 0vw;
    display: flex;
}

.right-list-content{
    display: flex;
    flex-flow: row nowrap;
    color:white;
    font-size: 1.2vw;

}
.right-list-content-text{
    margin-top: 1vw;
}

.right p{
    color: white;
    position: relative;
    margin:40px 0px 0px 0px;
    bottom: 0px;
}
/* Responsive Mobie */
/* PC */
@media (min-width: 1024px) {

}
/* Table */
@media (min-width: 740px) and (max-width: 1023px) {

}
/* Mobile */
@media (max-width: 739px) {
    .menu-button {
        display: none;
    }
    footer{
        flex-flow: column wrap;
        font-size: 14px;
    }
    .left{
        order: 2;
        font-size: 14px;
        max-width: 100%;
    }
    .right{
        order: 1;
    }
    .left-content-text{
        font-size: 14px;
    }
    .right-list-content{
        font-size: 14px;
        text-justify: distribute;

    }
    .right-list-content-text{
        margin-top: 1vw;
    }
    .right-list-content-icon{
        line-height: 1.65em;
    }

}