* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* Các thuộc tính khác */
}
body {
    font-family:"Montserrat", 'Times New Roman';
    font-size: 100%;
    background-image: url(/img/star.png);
    background-repeat: repeat-y;
    background-position: right;
}
header {
    background-color: #60B847;
    /* height: 80px; */
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 10% 65% 25%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 3;
    /* opacity: 0.9; */
    overflow: hidden;
    /* position: absolute; */
}
header a {
    /* margin: 0; */
}
.menu {
    align-self:center;
    height: auto;
    /* display: inline-block; */
}
.menu-button {
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* line-height:83.333px; */
    margin-top: 0;
    margin-bottom: 0;
    /* margin: 0; */
    flex-basis: 70%;
    /* top: 0; */
    align-items: center;
    align-self: center;
}
.menu-button-content {
    text-align: center;
    line-height: 84.3333px;
}
.menu-button-content-text {
    color: white;
    display: block;
    font-size: 1.3vw;
    font-weight: 520;
    text-align: center;
    padding: 0;
    text-decoration: none;
    align-items: center;
    align-self:center;
}
.menu-button-content-text:hover {
    background-color: #448332;
    /* background-color:white; */
    /* font-weight: 680; */
    /* color:#60B847; */
    color: lavenderblush;
    cursor: pointer;
}
.menu-button-content:hover {
    /* background-color: white; */
}
.logo {
    /* margin: auto; */
    display: inline-block;
    align-self: center;
}
.logo-img {
    width: auto;
    height: 80px;
    margin: 0 0 0 10px;
}
.search {
    /* width: 25%; */
    align-items: center;
    align-self:center;
}
.nav-bar {
    display: none;
}
.nav-bar-icon {
    display: none;
}
.search-bar{
    height: 50px;
}
.search-button {
    display: block;
    width: 70%;
    height: 35px;
    background: white;
    border-radius: 22.5px;
    margin: auto;
    position: relative;
}
.search-icon {
    /* display:; */
    font-size: 22px;
    color: #60B847;
    margin-top: 1.8%;  
    line-height: 100%;
    margin-left: 88%;
    position: absolute;
}
.header-nav {
    display: none;
}
/* footer */
footer {
    background-color: #60B847;
    margin: 0;
    padding: 1.8vw 0;
    display: flex;
    flex-flow: row nowrap ;
}
#hide-desktop-flex{
    display: none;
}
.left {
    margin-left: 50px;
    display: flex;
    flex-flow:column nowrap;
    flex: 1 100%;
    max-width: 40%;
}
.left-content-text {
    font-size: 1.2vw;
    color: white;
    margin: 16px 0px;
    
}
.left-icon-button {
    color: #448332;
    font-size: 30px;
    padding-right: 24px;
}
.right {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: 2 100%;
    align-self: center;
    /* max-width: 60%; */
}
.right-span{
    display: none;
}
.right1 {
    list-style: none;
    align-items:inherit;
    justify-content:right;
    position:relative;
    right: 0px;
    padding-left: 3.6vw;
}
.right-list-content-icon {
    font-size: 33px;
    color: #448332;
    width: 3vw;
    height: auto;
    padding: 1vw 0px;
    margin: 0px 0vw;
    display: flex;
}

.right-list-content{
    display: flex;
    flex-flow: row nowrap;
    color:white;
    font-size: 1.2vw;

}
.right-list-content-text{
    margin-top: 1.25vw;
    margin-left: 1vw;
}

.right p{
    color: white;
    position: relative;
    margin:40px 0px 0px 0px;
    bottom: 0px;
}
/* Responsive Mobie */
.nav__mobile {
    display: block;
    position: fixed;
    top: 84px;
    left: 0;
    /* bottom: 0; */
    width: 100%;
    background-color:#60B847;
    z-index: 2;
    opacity: 0;
    transform: translateY(-135%);
    transition: transform linear 0.2s,opacity linear 0.2s; 
}
.nav__mobile-list {
    margin-top: 0;
    list-style: none;
    margin-block-start:0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 5px 10px;
}
.nav__mobile-link {
    text-decoration: none;
    color:white;
    display: block;
    padding: 8px;
    margin: 10px 5px;
    font-size: 1.4rem;
    background-color: #448332;
}
.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.3);
    display: none;
    z-index: 0;
    animation: FadeIn linear 0.2s;
}
.nav__input {
    display: none;
}
.nav__input:checked ~ .nav__overlay {
   display: block;
}
.nav__input:checked ~ .nav__mobile {
    transform: translateY(-2%);
    opacity: 1;
}


@keyframes FadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
/* PC */
@media (min-width: 1024px) {

}
/* Table */
@media (min-width: 740px) and (max-width: 1023px) {

}
/* Mobile */
@media (max-width: 739px) {
    header {
        width: 100%;
        /* overflow: hidden; */
        display: flex;
    }
    .search {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu-button {
        display: none;
        margin: 0;
        padding: 0;
    }
    .header-nav {
        display: flex;
        position: right;
        margin: 0 10px;
        align-items: center;
    }
    .nav-bar, .search-nav-bar {
        display: block;
        /* width: 40px;
        height: 40px; */
        color: #448332;
        cursor: pointer;
    }
    .search-nav-bar:hover {
        color:beige;
    }
    .nav-bar:hover {
        color: white;
    }
    .search-nav-bar {
        /* margin-right: 2%px; */
        cursor: pointer;
        position: absolute;
        transition: all 0.25s ease;
        margin-left: -10px;
    }
    .search-box-mobile {
        width: 40px;
        height: 40px;
        padding: 15px;
        border-radius: 25px;
        background-color: #60B847;
        /* color: rgba(0, 0, 0,0.25); */
        color: #60B847;
        outline: none;
        border: none;
        transition: width 0.25s ease;
    }
    .search-mobile {
        display: flex;
        align-items: center;
    }
    .active .search-box-mobile {
        width: 250px;
        background-color: white;
        margin-right: 10px;
    }
    .active .close-btn {
        z-index: 0;
        transform: translate(250px, 2px);
    }
    .active .search-nav-bar {
        transform: translate(210px,1px) scale(0.8);
        background-color: transparent;
    }
    .search-nav-bar, .nav-bar {
        padding: 5px;
    }
    /* .search-nav-bar:hover , .nav-bar:hover{
        background-color: white;
        color: #60B847;
    } */
    .search-button {
        background-color:#60B847;
            width: 20px;
            height: 20px;
            background:none;
            border-radius: 22.5px;
            margin: auto;
            position: relative;
    }
    
    /* Footer */
    footer{
        flex-flow: column wrap;
        font-size: 14px;
    }
    .left{
        order: 2;
        font-size: 14px;
        max-width: 100%;
        margin-left: 3.6vw;
    }
    .right{
        order: 1;
    }
    .left-content-text{
        font-size: 14px;
    }
    .right-list-content{
        font-size: 14px;
        text-justify: distribute;

    }
    .right-list-content-text{
        margin-top: 1.5vw;
        margin-left: 3vw;
    }
    .right-list-content-icon{
        line-height: 1.65em;
        margin-right: 1vw;
        /* padding-top: 10px; */
    }
    
    .end{
        color: white;
        display: flex;
    }
    #hide-desktop-flex{
        display: flex;
    }
    #hide-mobile{
        display: none;
    }
    
    .right-span{
        display: block;
    }
    .mobile-bottom{
        display: flex;
        order: 3;
        flex-flow: row nowrap;
    }
    .mobile-bottom img{
        margin: 2vw;
        height: 12vw;
    }
}