/* body lien he */
.list-contact {
    list-style: none;
}
.title-box {
    display: flex;
    margin-left: 124px;
}
.title {
    font-size: 32px;
    margin-top: 60px;
    /* float: left; */
    color: rgb(32, 63, 23);
}
.title-link {
    color: rgba(32, 63, 23, 0.7);
}
.list-contact {
    margin-left: 221px;
    font-size: 28px;
    font-weight: 700;
}
.list-noidung-title {
    color: rgba(32, 63, 23,0.45);
}
.list-noidung-title-chi-tiet {
    color: rgb(32, 63, 23);
}
.list-contact-icon {
    color: #60B847;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: -60px;
}
.list-contact-content {
    padding: 10px 0;
    display: flex;
    position: relative;
}
.list-noidung {
    line-height: 0.32; 
}
.button-area{
    display: flex;
    margin:124px 221px;
    flex-flow: row nowrap;
    font-size: 28px;
}
.button{
    display: flex;
    /* margin-left: 124px; */
    flex: 1 1;
    align-self: center;
    background-color: rgba(96, 184, 71, 0.35);
    /* opacity: 35%; */
    align-items: center;
    border-radius:40px;
    margin:0px 75px
}
.button-text{
    color: #203F17;
    flex-grow: 1;
    opacity: 100%;
    font-weight:700;
    margin:18px 0px;
    /* align-self: center; */
    text-align: center;
}
/* Gặp nhau cuối năm */