body {
    margin-top: 60px;
}
/* body lien he */
.title {
    font-size: 2.2vw;
    margin-top: 60px;
    float: left;
    color: rgb(32, 63, 23);
}
.title-box {
    display: flex;
    margin-left: 9vw;
}
.title-link {
    color: rgba(32, 63, 23, 0.7);
}
.contact {
    display: flex;
    justify-content: space-between;
    margin-top: -3%;
}
.video-contact {
    width: 40%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video-name {
    margin-left: 10%;
    text-align: justify;
    font-size: 1.6vw;
    font-weight: 500;
    color: black;
}
.video-name a:link {
    text-decoration: none;
}
.video-name a:visited {
    text-decoration: none;
}
.video-name a:hover {
    color: #60B847;
    font-weight: 700;
    text-decoration: none;
}
.video-name a:active {
    text-decoration: none;
}
.video-contact video {
    display: block;
    width: 80%;
    max-height: 60vh;
}
.list-contact {
    list-style: none;
    width: 60%;
    font-size: 1.8vw;
    font-weight: 700;
}
.list-contact-content {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}
.list-noidung-title {
    color: rgba(32, 63, 23,0.45);
    line-height: 2vw;
}
.list-noidung-title-chi-tiet {
    margin-top: -1vh;
    color: rgb(32, 63, 23);
    line-height: 2vw;
}
.list-contact-icon {
    color: #60B847;
}
.button-area{
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.6vw;
    padding-bottom: 3vh;
}
.button{
    display: flex;
    flex: 1 1;
    color: #203F17;
    align-self: center;
    align-items: center;
    background-color: rgba(96, 184, 71, 0.35);
    border-radius: 40px;
    border: solid #60B847 0.2vw;
    margin: 0 12%;
}   
.button-text{
    flex-grow: 1;
    opacity: 100%;
    font-weight:700;
    margin: 1.8vh 0;
    text-align: center;
}
.button:hover {
    background-color: #60B847;
    border: solid rgba(96, 184, 71, 0.35) 0.2vw;
    color: white;
    cursor: pointer;
}
@media only screen and (max-width: 739px) {
    body {
        margin-top: 40px;
    }
    .title {
        font-size: 2.8vw;
        margin-top: 45px;
    }
    .title-link {
        color: rgba(32, 63, 23, 0.7);
    }
    .contact {
        flex-direction: column;
    }
    .video-name {
        font-size: 2vw;
        margin: -2% auto 2% auto;
    }
    .video-contact {
        order: 2;
        width: 85%;
        margin-left: 7%;
        margin-bottom: 2%;
    }
    .video-contact video {
        width: 100%;
    }
    .list-contact {
        order: 1;
        font-size: 2.4vw;
    }
    .list-contact-content {
        display: grid;
    }
    .list-noidung-title {
        line-height: 2vw;
    }
    .list-noidung-title-chi-tiet {
        line-height: 2.4vw;
    }
    .button-area {
        font-size: 2vw;
    }
    .button {
        justify-content: space-between;
    }
}