/* An */
.slide__img{
    margin-top: 50px;
    min-height: 150vh;
    min-width: 90vw;
    display: block;
}

.slide{
    margin-top: 50px;
    min-height: 150vh;
    min-width: 90vw;
    background-image:url("/img/AnhTrch1_low_op.png");
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    justify-content: center;
}
/* .slide:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("/img/AnhTrch1.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: 0;
  } */
  
.slide-text{
    margin:20vh 0vw 20vh 10vw;
    flex: 1 1;
    color: white;
}
.slide-text-title{
    display: flex;
    padding-left:1vw;
}
.slide-text-title::before{
    background: white;
}
.slide-text-title::after{
    /* background: black;
    height: 10px;
    flex: 1;
    content: '  '; */
    display: flex;
    float: right;
    margin-top: .8em; 
    border-top: 1px solid white;
    width: 50%;
    content: "";
}
.slide-text-middle{
    border-left: 1px solid white;
    padding: 3vw;
    font-family:'Old Standard TT';
    justify-content:space-around;
}
.slide-text-middle h{
    font-size: 38px;
    font-weight: 600;
}
.slide-text-middle p{
    font-size: 28px;
    /* font-weight: 200; */
}
/* .slide-text p:before,
.slide-text p:after{
    display: flex;
    float: right;
    margin-top: .8em; 
    border-top: 2px solid silver;
    width: 50%;
    content: ""
} */
.test{
    margin: 20px;
    overflow :hidden;
    color: gray;
    text-align: left;
    line-height: 1.6em;  
}
.test:before {
    display: block;
    float: right;
    margin-top: .8em; 
    border-top: 2px solid silver;
    width: 50%;
    content: "";
  }
.thongdiep{
    margin: -50px 50px 50px;
    display: flex;
    /* height: 100px; */
    flex-flow: row nowrap; 
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
}
.thongdiep-content{
    display: flex;
    flex-flow:column nowrap;
    flex:1 0;
    /* margin: 0px 150px; */
    margin: 0vh 11vw;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    
    /* height: 100px; */
    /* border: 1px ridge black; */
    border-radius: 5px;
    box-shadow: 0px 5px 5px #c2c1c1;
    
    

    /* align-content: center; */
}
.thongdiep-content-text{
    align-items: flex-start;
    align-content:start;
    /* margin-bottom: 100px; */
    padding: 20px 0px 20px;
}
.thongdiep-content h6{
    font-size: 38px;
    font-weight: 300;
    margin: 10px 0px 10px;
}
.thongdiep-content-icon{
    margin-top: 50px;
}
.thongdiep-content p{
    font-size: 26px;
    font-weight: 200;
    /* margin-bottom: 100px; */
}
.thongdiep-content-yeuthong{
    display: flex;
    flex-flow:column nowrap;
    flex:1.2 0;
    justify-content: space-evenly;

    margin:-10vh 0px 10vw;
    background-color: #448332;
    border-radius: 5px;

    box-shadow: 0px 5px 5px #c2c1c1;
    text-align: center;
}
.thongdiep-content-yeuthong-text{
    padding: 20px 10px 20px;
    text-overflow: clip;
}
.thongdiep-content-yeuthong h6{
    font-size: 36px;
    font-weight: 300;
    color: white;
    margin: 0px 0px 0px;
    /* font-size: 1.2vw; */
}
.thongdiep-content-yeuthong p{
    font-size: 26px;
    color: white;
    font-weight: 200;
}
/* Phi */
/* dk */
.dangky {
    position: relative;
}
.dangky__img {
    width: 100%;
}
.dangky__content {
    position: absolute;
    width: 20%;
    top: 30%;
    right: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dangky__icon {

}
.dangky__title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.dangky__button {
    display: block;
    /* margin-top: 30px; */
    padding: 26px 36px;
    background-color: rgba(32,63,23,0.7);
    
    border-radius: 15px;
   
    /* overlay: none; */
}
.dangky__button-text {
    color: white;
    text-decoration: none;
    margin-left: 0px;
    margin-right: 0px;
}
/* Donate */
.donate__title {
    margin: 68px auto 43px 100px;
    font-size: 50px;
}
.donate {
    display: flex;
    margin: 50px 100px;
}
.donate__info {
    width: 75%;
    margin-right: 80px;
}
.box-color1 {
    background-color: rgba(68,131,50,0.45) ;
}
.box-color2 {
    background-color: rgba(68,131,50,0.2) ;
}
.donate__info-box {
    margin-bottom: 30px;
    padding: 15px;
}
.donate__qr {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.donate__qr-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.donate__info-text {
    font-size: 32px;
    margin: 0;
    text-align: justify;
}
.donate__qr-button {
    display: block;
    margin-top: 36px;
    font-size: 32px;
    color: #000;
    background-color: rgba(68,131,50,0.45);
    padding: 25px 0;
    text-align: center;
    border-radius: 20px;
    width: 390px;
}