/* An */
.slide__img{
    margin-top: 50px;
}

.thongdiep{
    margin: -50px 50px 50px;
    display: flex;
    /* height: 100px; */
    flex-flow: row nowrap; 
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
}
.thongdiep-content{
    display: flex;
    flex-flow:column nowrap;
    flex:1 0;
    margin: 0px 150px;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    
    /* height: 100px; */
    /* border: 1px ridge black; */
    border-radius: 5px;
    box-shadow: 0px 5px 5px #c2c1c1;
    
    

    /* align-content: center; */
}
.thongdiep-content-text{
    align-items: flex-start;
    align-content:start;
    /* margin-bottom: 100px; */
    padding: 20px 0px 20px;
}
.thongdiep-content h6{
    font-size: 38px;
    font-weight: 100;
    margin: 10px 0px 10px;
}
.thongdiep-content-icon{
    margin-top: 50px;
}
.thongdiep-content p{
    font-size: 26px;
    font-weight: 100;
    /* margin-bottom: 100px; */
}
.thongdiep-content-yeuthong{
    display: flex;
    flex-flow:column nowrap;
    flex:1 0;
    justify-content: space-evenly;
    /* margin: 0px 200px; */
    margin:-100px 0px 100px;
    background-color: #448332;
    border-radius: 5px;

    box-shadow: 0px 5px 5px #c2c1c1;
    text-align: center;
}
.thongdiep-content-yeuthong h6{
    font-size: 38px;
    font-weight: 100;
    color: white;
    margin: 0px 0px 0px;
    /* font-size: 1.2vw; */
}
.thongdiep-content-yeuthong p{
    font-size: 26px;
    color: white;
    font-weight: 100;
}
/* Phi */