/* An */
.slide__img{
    margin-top: 50px;
    min-height: 50vh;
    min-width: 50vw;
}

.slide{
    margin-top: 50px;
    min-height: 100vh;
    min-width: 50vw;
    background-image:url("/img/AnhTrch1.png");
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-text p::after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.thongdiep{
    margin: -50px 50px 50px;
    display: flex;
    /* height: 100px; */
    flex-flow: row nowrap; 
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
}
.thongdiep-content{
    display: flex;
    flex-flow:column nowrap;
    flex:1 0;
    /* margin: 0px 150px; */
    margin: 0vh 10vw;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    
    /* height: 100px; */
    /* border: 1px ridge black; */
    border-radius: 5px;
    box-shadow: 0px 5px 5px #c2c1c1;
    
    

    /* align-content: center; */
}
.thongdiep-content-text{
    align-items: flex-start;
    align-content:start;
    /* margin-bottom: 100px; */
    padding: 20px 0px 20px;
}
.thongdiep-content h6{
    font-size: 38px;
    font-weight: 300;
    margin: 10px 0px 10px;
}
.thongdiep-content-icon{
    margin-top: 50px;
}
.thongdiep-content p{
    font-size: 26px;
    font-weight: 200;
    /* margin-bottom: 100px; */
}
.thongdiep-content-yeuthong{
    display: flex;
    flex-flow:column nowrap;
    flex:1.2 0;
    justify-content: space-evenly;

    margin:-10vh 0px 10vw;
    background-color: #448332;
    border-radius: 5px;

    box-shadow: 0px 5px 5px #c2c1c1;
    text-align: center;
}
.thongdiep-content-yeuthong-text{
    padding: 20px 0px 20px;
}
.thongdiep-content-yeuthong h6{
    font-size: 38px;
    font-weight: 300;
    color: white;
    margin: 0px 0px 0px;
    /* font-size: 1.2vw; */
}
.thongdiep-content-yeuthong p{
    font-size: 26px;
    color: white;
    font-weight: 200;
}
/* Phi */